:root {
    --gap: .6rem;
    --default-grid: [full-start] minmax(8vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(800px,100% - 16vmin) [main-end] minmax(auto, 240px) [wide-end] minmax(8vmin, auto) [full-end];
    --mobile-grid: [full-start] minmax(11px, 11px) [wide-start] minmax(11px, 11px) [main-start] min(980px, 100% - 44px) [main-end] minmax(11px, 11px) [wide-end] minmax(11px, 11px) [full-end];
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

section,
nav {
    display: grid;
    grid-template-columns: var(--default-grid);
}

div.section-content,
div,nav-content {
    color: var(--red);
    grid-column-start: main-start;
    grid-column-end: main-end;
}

/*  ———————————————————————————————————————————————————————————————————————————
    COLLAPSIBLE TEXT CONTENT
    ——————————————————————————————————————————————————————————————————————————— */

button.collapsible {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

/*  ———————————————————————————————————————————————————————————————————————————
    NAVIGATION
    ——————————————————————————————————————————————————————————————————————————— */

nav .logo {
    width: 10rem;
}

/*  ———————————————————————————————————————————————————————————————————————————
    TYPOGRAPHY
    ——————————————————————————————————————————————————————————————————————————— */

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    line-height: 1.6;
    font-size: 2.2rem;
    font-weight: 100;
}

/* so now in most browsers:
0.8rem = 8px
1rem = 10px
1.2rem = 12px
2.2rem = 22px
etc */

h1, h2 {
    font-size: 7rem;
    line-height: 1.2;
}

.bold-text {
    font-weight: 900;
}

/*  ———————————————————————————————————————————————————————————————————————————
    VIDEO HEADER
    ——————————————————————————————————————————————————————————————————————————— */

.video-header {
    position: relative;
}

.video-header video {
    width: 100%;
}

.video-header .clip-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    background: #000;
    mix-blend-mode: multiply;
}

.video-header .clip-text p {
    font-size:21vw;
    line-height: 1;
    font-weight: 900;
    font-family: helvetica;
    margin: 0;
}