:root {
    --gap: 2rem;
    --default-grid: [full-start] minmax(8vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(800px,100% - 16vmin) [main-end] minmax(auto, 240px) [wide-end] minmax(8vmin, auto) [full-end];
    --mobile-grid: [full-start] minmax(11px, 11px) [wide-start] minmax(11px, 11px) [main-start] min(980px, 100% - 44px) [main-end] minmax(11px, 11px) [wide-end] minmax(11px, 11px) [full-end];
    --padded-grid: [full-start] minmax(8vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(940px,100% - 16vmin) [main-end] minmax(auto, 240px) [wide-end] minmax(8vmin, auto) [full-end];
}

* {
    box-sizing: border-box;
}

b {
    color: #fff;
}

.block {
    display: block;
}

body {
    background-color: #000;
    color: #fff;
    margin:0;
}

html,
body {
    scroll-behavior: smooth!important;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
    font-size: 1.8rem;
    margin-block: 8rem 4rem;
    justify-content: space-between;;
}

.columns > * {
    width: 30%;
    min-width: 21.4rem;
}

section,
.cta,
nav {
    display: grid;
    grid-template-columns: var(--default-grid);
}

nav {
    grid-template-columns: var(--padded-grid);
}

div.section-content,
div,nav-content,
div.cta span {
    grid-column-start: main-start;
    grid-column-end: main-end;
}

.padded.cta {
    padding-block-start: 2rem;
    background-color: #000;
}

section:not(.image) {
    padding-block: 7rem;
}

section:not(.padded, .image) {
    padding-block-end: 8rem;
}

section.image {
    display:block
}

section.image img {
    width: 100%;
}

section.padded,
.padded {
    background-color: #161616;
    grid-template-columns: var(--padded-grid);
}

section.padded .section-content {
    padding: 7rem;
    background-color: #000;
    border-radius: 4rem;
}

section.without-grid {
    display: block;
}

/*  ———————————————————————————————————————————————————————————————————————————
    COLLAPSIBLE TEXT CONTENT
    ——————————————————————————————————————————————————————————————————————————— */

button {
    opacity: .8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    margin-right: 0;
    transform: rotate(0deg);
    transition: transform cubic-bezier(0.5, 0, 0.5, 1) .2s, opacity .2s;
}

button:hover {
    opacity: 1;
}

button.active {
    transform: rotate(180deg)
}

.collapsible-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, opacity .5s;
}

/*  ———————————————————————————————————————————————————————————————————————————
    FOOTER
    ——————————————————————————————————————————————————————————————————————————— */

footer {
    background: #fff;
    color: #000;
    display: grid;
    padding-block: 7rem;
    grid-template-columns: var(--padded-grid);
    border-bottom: 2rem solid #dbd81e;
}

footer a {
    text-decoration: none;
    color: #8f9011;
    transition: color .2s;
}

footer h4,
footer h3,
footer p,
footer ul,
footer a:hover {
    color: #575759;
}

footer .logo-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .section-content {
    display: flex;
}

footer .section-content > * {
    width: 50%;
}

footer ul {
    list-style-type: none;
}

@media screen and (max-width: 652px) {
    footer .section-content {
        flex-direction: column;
    }

    footer .section-content > div {
        width: 100%;
    }
}

/*  ———————————————————————————————————————————————————————————————————————————
    IMAGE CAROUSEL
    ——————————————————————————————————————————————————————————————————————————— */

/* normal carousel NON HOVER styles */
.carousel {
    position: relative;
    overflow: hidden;
    /* z-index: 10001; */
}

.carousel-content {
    display: flex;
    /* margin: 150px 0 70px; */
    transition: 500ms;
}

/* @media(max-width: 1024px) {
    .carousel-content {
        margin: 100px 0 50px;
    }
}

@media(max-width: 800px) {
    .carousel-content {
        margin: 70px 0 30px;
    }
} */

.carousel-content img {
    min-width: 100vw;
    max-width: 100vw;
    object-fit: cover;
}

.carousel-content video {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    object-fit: fill;
}

.carousel .carousel-control-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    cursor: pointer;
    z-index: 1;
}

.carousel .carousel-control-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%;
    cursor: pointer;
    z-index: 1;
}

/*  ———————————————————————————————————————————————————————————————————————————
    NAVIGATION
    ——————————————————————————————————————————————————————————————————————————— */
nav {
    top: 0;
    position: sticky;
    background-color: #000;
    padding-top: 1rem;
    z-index: 1000;
}

nav a {
    text-decoration: none;
}

nav .nav-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
}

nav .logo {
    height: 3rem;
}

nav ul {
    display: flex;
    padding: 0;
    gap: var(--gap);
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

nav ul li {
    color: #c6c6c6;
    transition: color .2s;
}

nav ul li:hover {
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 958px) {
    nav ul {
        font-size: 1.5rem;
        gap: 2vw;
    }
}

@media screen and (max-width: 780px) {
    nav .logo {
        height: 1.8rem;
    }
}

@media screen and (max-width: 636px) {
    nav .logo {
        display: none;
    }
}

/*  ———————————————————————————————————————————————————————————————————————————
    PARALLAX
    ——————————————————————————————————————————————————————————————————————————— */

.parallax {
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y: auto; */
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax-group {
    position: relative;
    height: 450vh;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
    height: max-content;
}

.parallax-layer-back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px) scale(2);
    background-image: url("images/Cross-Background.png");
    background-size: cover;
    opacity: .35;
}

/*  ———————————————————————————————————————————————————————————————————————————
    SALES BANNER
    ——————————————————————————————————————————————————————————————————————————— */

.banner {
    font-size: 3vw;
    background-color: #fff;
    color: 575759;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-block: 1rem;;
}

/*  ———————————————————————————————————————————————————————————————————————————
    SCROLLING CARDS
    ——————————————————————————————————————————————————————————————————————————— */

.scroll-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.card-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0 10rem;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: calc(var(--gap)*2)
}

.card-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.card {
    /* flex: 0 0 80%; */
    margin-right: 10px;
    scroll-snap-align: start;
    background-color: #161616;
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* min-width: 80%; */
    min-width: 45rem;
    font-size: 1.8rem;
}

.card.spacer {
    width: 10rem;
    min-width: 10rem;
    background-color: transparent;
}

.scroll-control {
    display: flex;
    width: 100%;
    gap: var(--gap);
    grid-column-start: main-start;
    grid-column-end: main-end;
    justify-content: end;
}

.scroll-control-holder {
    display: grid;
    width: 100%;
    margin-top: 2rem;
    grid-template-columns: var(--default-grid);
}

.scroll-control button {
    margin: unset;
    transition: opacity .2s;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.scroll-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/*  ———————————————————————————————————————————————————————————————————————————
    SOCIAL SECTION
    ——————————————————————————————————————————————————————————————————————————— */

.social-links > div {
    display: flex;
    flex-direction: column;
}

.social-links .section-content {
    display: flex;
    justify-content: space-around;
}

.social-links .section-content i {
    font-size: 11vw;
    color: #fff;
    transition: all .2s;
    background: none;
}

@media screen and (min-width: 730px) {
    .social-links .section-content i {
        font-size: 8rem;
    }
}

.social-links .section-content i:hover {
    transform:scale(1.2)
}

.social-links .sub-heading {
    margin-block-end: 4rem;
}


i.fa-youtube:hover {
    color: #FF0000;
}

i.fa-instagram:hover {
    background: #fff;
    background: linear-gradient(
        to right,
        #fff,#fff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

i.fa-instagram:hover {
    background: #833ab4;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

i.fa-facebook:hover {
    color: #0866FF;
}

i.fa-compass:hover {
    color: #02B9FF;
}

/*  ———————————————————————————————————————————————————————————————————————————
    TYPOGRAPHY
    ——————————————————————————————————————————————————————————————————————————— */

body {
    line-height: 1.6;
    font-size: 2.2rem;
    font-weight: 100;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

/* so now in most browsers:
0.8rem = 8px
1rem = 10px
1.2rem = 12px
2.2rem = 22px
etc */

.gradient-text {
    background: -webkit-linear-gradient(45deg, #EA621E, #ffe600);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2 {
    font-size: 7rem;
    line-height: 1.2;
}

h3, h4 {
    letter-spacing: 1;
    margin-top: 0;
}

.bold-text {
    font-weight: 900;
}

.main-heading {
    text-align: center;
}

p {
    color: #c6c6c6
}

.sub-heading {
    font-size: 2.4rem;
    font-weight: 900;
    display: table;
    margin: auto;
    text-align: center;
}

.smaller-text {
    font-size: 1.8rem;
}

.white-text {
    color: #fff;
}

/*  ———————————————————————————————————————————————————————————————————————————
    VIDEO HEADER
    ——————————————————————————————————————————————————————————————————————————— */

.video-container {
    display: flex;
    justify-content: center;
}

.video-header {
    position: relative;
}

.video-header video {
    width: 100%;
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
    max-width: 120rem;
}

.video-header .clip-text {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 120rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    background: #000;
    mix-blend-mode: multiply;
}

.video-header .clip-text p {
    font-size:21vw;
    line-height: 1;
    font-weight: 900;
    font-family: helvetica;
    margin: 0;
}

/*  ———————————————————————————————————————————————————————————————————————————
    VIDEO SECTION
    ——————————————————————————————————————————————————————————————————————————— */

.video-section {
    position: relative;
}

.video-section video {
    width: 100%;
    -webkit-filter: brightness(1.5);
    filter: grayscale(1);
    /* max-width: 120rem; */
}

.video-section .video-text {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 120rem;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section .video-text p {
    font-size:8vw;
    line-height: 10vw;
    font-weight: 900;
    font-family: helvetica;
    margin: 0;
    color: #fff;
    mix-blend-mode: multiply;
}

/*  ———————————————————————————————————————————————————————————————————————————
    VIMEO SECTION
    ——————————————————————————————————————————————————————————————————————————— */

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625 or 56.25%) */
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (min-width: 1240px) {
    .video-header .clip-text p {
        font-size: 260px;
    }
}


/*  ———————————————————————————————————————————————————————————————————————————
    MEDIA QUERIES
    ——————————————————————————————————————————————————————————————————————————— */

@media screen and (max-width: 700px) {
    section.padded .section-content {
        padding: 5rem;
    }

    section:not(.image) {
        padding-block: 5rem;
    }

    .columns > * {
        width: 100%;
    }
}

@media screen and (max-width: 574px) {
    nav {
        display: none;
    }
}

/* 1179×2556 pixels at 460ppi eg. iPhone 14 Pro Max*/
@media only screen and (device-width: 430px) and (-webkit-device-pixel-ratio: 3),
only screen and (device-width: 393px) and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    -webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Edge */
    }
    section.padded .section-content {
        padding: 6rem;
    }
    body {
        font-size: 4rem;
        font-weight: 500;
    }
    nav {
        display: none;
    }
    .columns > * {
        width: 100%;
        font-size: 3.5rem;
    }
    .card {
        min-width: 80vw;
        font-size: 3.5rem;
        padding: 6rem;
        border-radius: 4rem;
    }
    .scroll-control-holder {
        display: none;
    }
    section.without-grid:has(.scroll-container) {
        padding-block: 0;
        padding-block-end: 10rem;
    }
    button {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
    }
    footer .section-content {
        flex-direction: column;
    }
    footer .section-content > * {
        width: 100%;
    }
    .smaller-text {
        font-size: 3.6rem;
    }
    .sub-heading {
        font-size: 4rem;;
    }
    .video-header .clip-text {
        height: calc(100% + 1px);
    }
}